<!DOCTYPE html>
<html>
  <head>
    <title>EntranceBackbone</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <section id="header">
      <%= render :partial => "shared/header" %>
    </section>
    <section id="navbar">
      <%= render :partial => "shared/navbar" %>
    </section>  
    <section id="body">
      <%= yield %>
    </section>

    <section id="footer">
      <%= render :partial => "shared/footer" %>   
    </section>      

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
          function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>



  </body>
 
</html>
